<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/Autorisation.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
</head>
<body>
<div class="Autorisation_input">
  <table>
    <tr><td><span>Email</span><input type="text" class="input_login"></td></tr>
    <tr><td><span>Пароль</span><input type="password" class="input_login"></td></tr>
    <tr><td><input type="submit"></td></tr>
    <tr><td><a href="#"><span>Регистрация</span></a></td></tr>
  </table>
 </div>
</body>
</html>