
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="~/css/MainPage.css">
</head>

<body>
      <div class="item_title">Топ продаж</div>
      <div class="box_items"><!--вверний контейнер товаров-->
        <div class="item_rec"><!--еденица товара товаров-->
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="Do41.html"><img class="icon_for" src="igm/rayz.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="Do41.html">Процессор Rayzen 5-2600 OEM</a></div>
            <div class="price">10000₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="Do42.html"><img src="igm/принтер.jpg">
              </a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="Do42.html">Принтер HP-PR5700L Цветной</a></div>
            <div class="price">8000₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="Do43.html"><img class="Phone" src="igm/Honor.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="Do43.html">Honor A10 4-х ядерный</a></div>
            <div class="price">9000₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="Do44.html"><img class="icon_for" src="igm/Nvid.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="Do44.html">Ausu Nvidia GTX 1080 Ti 8gb</a></div>
            <div class="price">20000₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="Do45.html"><img class="icon_for" src="igm/Monitor.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="Do45.html">Монитор Samsung-4000k+ 4k</a></div>
            <div class="price">30000₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="Do46.html"><img class="icon_for" src="igm/ohl.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="Do46.html">Радиатор, 4 медные трубки</a></div>
            <div class="price">1000₽</div>
          </div>
        </div>
      </div>
      <div class="bord_items"></div><!--пространство между контейнерами товаров-->
      <div class="box_item_2"><!--нижний контейнер товаров-->
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="#"><img class="Phone" src="igm/Phone_1.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="#">Xiaomi Mi 8</a></div>
            <div class="price">9500₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="#"><img class="Phone" src="igm/Phone_2.jpg">
              </a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="#">Samsung A12</a></div>
            <div class="price">13500₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="#"><img class="Phone" src="igm/Phone_3.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="#">Honor 10 Lite</a></div>
            <div class="price">9500₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="#"><img class="Phone" src="igm/Phone_4.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="#">Iphone 11</a></div>
            <div class="price">65000₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="#"><img class="icon_for" src="igm/часы.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="#">Apple Watch</a></div>
            <div class="price">25000₽</div>
          </div>
        </div>
        <div class="item_rec">
          <div class="exam">
            <div class="exam1">
              <a class="recom" href="#"><img class="icon_for" src="igm/Modem.jpg"></a>
            </div>
            <div class="bord"></div>
            <div class="about"><a class="about_it" href="#">Модем Dir-300</a></div>
            <div class="price">300₽</div>
          </div>
        </div>
      </div>
    
    
</body>

</html>