<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../../wwwroot/css/main.css">
	<link rel="stylesheet" type="text/css" href="../../wwwroot/css/Product_Page.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="product-card">
		<div class="product-container img-flex">
			<img src="C:\Users\Daniil\source\repos\MyWebSite_Shop\MyWebSite_Shop\wwwroot\img\Iphone12b.png">
		</div>
		<div class="product-container">
				<div class="short-about-product">Смартфон Iphone 11</div>
				<div class="right-conteiner">
					<div class="price">106000</div>
					<div class="product-buttons">
						<form>
							<input class="basket" type="submit" name="basket" value="В корзину">
							<input class="buy" type="submit" name="buy" value="Купить">
						</form>
					</div>
				</div>
		</div>		
	</div>
	<div class="product-description">
		<p class="product-major-field">Общие характиристики</p>
        <p class="product-description-name-field"><span>Количество сим карт</span> <span>2</span></p>
	</div>
</body>
</html>