<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../wwwroot/css/test.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="Autorisation_input">
  <!DOCTYPE html>
<html>
<head>
<title>HTML, CSS and JavaScript demo</title>
</head>
<body>
    <div class="grid">
      <div class="grid__content">
        <p>Sony перестанет раздавать коллекцию бесплатных игр владельцам PS5</p>
        
          <img class="grid__img" src="https://img.freepik.com/free-photo/phone-screen-with-abstract-marble-aesthetic_53876-145553.jpg?w=740&t=st=1675321865~exp=1675322465~hmac=26076be47d06d1b4f14eb70fd38a3020d383b04d59c692b8c5244baf95c20498">
      </div>
      <div class="grid__content">
        <p>Sony перестанет раздавать коллекцию бесплатных игр владельцам PS5</p>
        
          <img class="grid__img" src="https://img.freepik.com/free-photo/phone-screen-with-abstract-marble-aesthetic_53876-145553.jpg?w=740&t=st=1675321865~exp=1675322465~hmac=26076be47d06d1b4f14eb70fd38a3020d383b04d59c692b8c5244baf95c20498">
      </div>
      <div class="grid__content">
        <p>Sony перестанет раздавать коллекцию бесплатных игр владельцам PS5</p>
        
          <img class="grid__img" src="https://img.freepik.com/free-photo/phone-screen-with-abstract-marble-aesthetic_53876-145553.jpg?w=740&t=st=1675321865~exp=1675322465~hmac=26076be47d06d1b4f14eb70fd38a3020d383b04d59c692b8c5244baf95c20498">
      </div>
      <div class="grid__content">
        <p>Sony перестанет раздавать коллекцию бесплатных игр владельцам PS5</p>
        
          <img class="grid__img" src="https://img.freepik.com/free-photo/phone-screen-with-abstract-marble-aesthetic_53876-145553.jpg?w=740&t=st=1675321865~exp=1675322465~hmac=26076be47d06d1b4f14eb70fd38a3020d383b04d59c692b8c5244baf95c20498">
      </div>
      
      
        
    </div>
</body>
</html>
 </div>
</body>
</html>